:root {
    --bebas: 'Bebas Neue', cursive;
    --sansita: 'Sansita Swashed', cursive;
    --light-yellow: lightgoldenrodyellow;
    --medium-yellow: rgb(241, 237, 169);
    --light-pink: rgb(255, 235, 246);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: visible;
    position: relative;
    background-color: var(--light-yellow);
}

#load-container {
    z-index: 10;
    position:fixed;

    height: 100vh;
    width: 100vw;

    margin: auto;
    padding-top: 15em;
    background-color: var(--medium-yellow);
}

#loader {
    color: white;
    margin: auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    animation: load 1.3s infinite linear;
}

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--medium-yellow);

    width: 100%;
    padding: 10px;
    margin: auto;
}

i, svg {
    margin: .3em;
}

input {
    border: none;
    font-size: 16pt;
}

#logo {
    font-family: var(--sansita);
    font-size: xx-large;
}

#search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    width:max-content;
    
    margin: auto;
    border-radius: 5px;
}

#search-bar {
    margin: .3em;
    width:100%;
}

.icon {
    border-left: 1px solid lightgray;
    cursor: pointer;
}

.reg-icon * {
    margin: 1em;

    font-family: var(--bebas);
}

.small-icon * {
    height: 1.5em;
    width: 1.5em;
    padding: .3em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.container {
    position: relative;
    padding-top: 6em;

    display: flex;
    flex-direction: column;

    max-width:1500px;
    margin: auto;
}

#quick-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: var(--light-pink);
}

h1 {
    font-family: var(--bebas);
    font-size: 2em;
    margin: .4em;
}

h2, h3, h4, h5, h6 {
    margin: .5em 0;
    padding: .2em;
}

.quick-link {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: .1em; */
    height: 150px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: var(--sansita);
    font-size: 4em;
    color: white;

    cursor: pointer;
}

#tops {
    background-position: center;
    background-image: url("img/tops.jpg");
}

#sweaters {
    background-position: bottom;
    background-image: url("img/sweaters.jpg");
}

#shorts {
    background-position: bottom;
    background-image: url("img/shorts.jpg");
}

#jeans {
    background-position:top;
    background-image: url("img/jeans.jpg");
}

#swimsuits {
    background-position: center;
    background-image: url("img/swimsuit.jpg");
}

#shoes {
    background-position: center;
    background-image: url("img/shoes.jpg");
}

#search-results {
    flex-direction: column;
    padding: 3em;
}

#user-searched {
    font-style: italic;
}

#products {
    justify-content: center;
}

.card {
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    width: min-content;
    min-height: 500px;
    padding-bottom: 1em;
    margin: .5em;

    border-radius: 10px;
    font-family: var(--bebas);
    text-align: center;
}

.card img {
    width:250px;
    border-radius: 10px 10px 0px 0px;
}

.card h3 {
    font-family: var(--sansita);
    margin: .2em .5em;
    flex-wrap: wrap;
}

.price {
    align-self: flex-start;
    position: absolute;
    bottom: 3.8em;

    margin-left: .4em;
    padding: .1em;
    border-radius: 5px;

    font-family: var(--bebas);
    color: var(--light-pink);
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.4);
    font-size:xx-large;
}

.card p {
    margin: 0.4em;
    align-self: flex-start;
    position: absolute;
    font-size: 1.2em;
    color: #fff;
    background-color: rgb(0,0,0,0.3);
    padding: 0.3em;
}

.sale-price {
    color: red;
    background-color: white;
    position: absolute;
    right: 0em;
    margin: 0.2em;

    font-size: x-large;

}

.add-to-cart {
    align-self:flex-end;
    position: absolute;
    bottom: 1em;
    border-radius: 5px;
    background-color: var(--medium-yellow);
    padding: .5em 1.5em;
    margin-right: 1em;

    color: black;
    font-weight: bold;
}

.add-to-cart:hover,
.add-to-cart:target {
    border: none;
    box-shadow: 1px 2px 4px 0 rgb(0,0,0,.4);
    cursor: pointer;
}

#pages-buttons {
    display: flex;
    justify-content: center;
}

#left,
#right {
    padding: .3em 1em;
    margin: .3em;
    background-color: lightskyblue;
    font-family: var(--bebas);
    font-size: x-large;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--bebas);
    font-size: 2em;

    height: 3em;
    width: auto;
}

@keyframes load {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}